html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
}
div.container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 400px;
    width: 100%;
    text-align: center;
}
