html {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #fff;
}
div.floater {
    float: left;
    width: 100%;
    height: 50%;
    margin-bottom: -200px;
}
div.container {
    clear: both;
    height: 400px;
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
